################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mosze-2022-teszt/v16/Browse.VC.opendb
/.vs/bandi/FileContentIndex/1245fa80-f884-4dbd-ac91-51f65d2c8c45.vsidx
.vs
