################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mosze-2022-teszt/v16/Browse.VC.opendb
